body{
    text-align: center;
    background-color: rgb(183, 226, 247);
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Merriweather', serif;*/    
    /* font-family: 'Sacramento', cursive; */
}

.page-title h1{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: rgb(38, 92, 243);
    text-shadow: aqua 1px 1px 1px;
    padding: 2rem 0 2rem 0;
}

.frontend-skills-rating{
    text-align: left;
}
.backend-skills-rating{
    text-align: right;
}