html,
body {
    text-align: center;
    background-color: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
}

/* - - - - - - - - - - - - - - - OFFCANVAS - - - - - - - - - - - - - - - */
/* Dados pessoais*/
.container-data {
    padding-bottom: 1rem;
}

/* - - - - - - - - - - - - - - - CORPO - - - - - - - - - - - - - - - */
/* Cabeçalho */
.portfolio-header {
    background-color: #2f4751;
    padding: 1rem;
}

.header-text {
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
    color: #F4F4F4;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

/* Imagem de perfil */
.profile-image {
    width: 9rem;
    border-radius: 10px;
}

/* Barra de progresso */
.progress {
    background-color: #88a8b8 !important;
}

.progress-bar {
    background-color: #596d78 !important;
}

/* - - - - - - - - - - - - - - - UTILIDADES - - - - - - - - - - - - - - - */
.set-dark {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    /* background-color: unset !important; */
}

.space-sides {
    padding-left: 10%;
    padding-right: 10%;
}

.space-all {
    padding: 1.5rem;
}

.remove-mb {
    margin-bottom: 0 !important;
}

/* Bordas */
.portfolio-container {
    text-align: justify;
    height: auto;
    padding: 0 3rem;
    border-left: 1px solid rgb(182, 182, 182);
    border-right: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
}

/* Horizontal Line */
hr {
    margin: 0 5%;
}

/* - - - - - - - - - - - - - - - CUSTOM SCROLLBAR - - - - - - - - - - - - - - - */

::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px !important;
    background-color: #88a8b8;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999999;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
    border-radius: 10px;
}


/* - - - - - - - - - - - - - - - DARK MODE - - - - - - - - - - - - - - - */

.dark-mode {
    background-color: #586F7C;
    color: white !important;
}

.dark-mode .offcanvas {
    background-color: #586F7C;
    color: white !important;
}

.dark-mode .portfolio-header {
    background-color: #2f4751;
}

/* 4c555f */
.dark-mode p {
    color: white;
}

.dark-mode .title {
    color: white;
}

.dark-mode .exp-title {
    color: white;
}

.dark-mode .subtitle {
    color: white;
}

.dark-mode .exp-subtitle {
    color: white;
}

.dark-mode .progress {
    background-color: #2f4751 !important;
}

.dark-mode .progress-bar {
    background-color: white !important;
}

/* Bootstrap */
.offcanvas-start {
    width: 300px !important;
}

@media (min-width: 0) and (max-width: 1000px) {

    h3,
    h5,
    p,
    .exp-title,
    .exp-subtitle {
        text-align: center;
    }

    .progress {
        margin-left: auto;
        margin-right: auto;
    }

    .space-sides {
        padding-left: 0;
        padding-right: 0;
    }
}