@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
  font-family: 'Inconsolata', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Montserrat', sans-serif;
}
